venv.*
venv*
/venv
/venv*
.idea/*
idea
idea*
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.DS_Store
__pycache__
__pycache__/
*.pyc
data.csv
secrets.py
virtual*
.virtual*
virtual/*
virtual.*