{% extends 'base.html' %}
{% block content %}
<form method="post">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="{{
          request.form.username }}" placeholder="Username" name="username">
                    <label class="login-field-icon fui-user" for="username"></label></div>
                <div class="control-group">
                    <input type="text" class="login-field" value="{{
          request.form.password }}" placeholder="Password" name="password">
                    <label class="login-field-icon fui-user" for="api-token"></label></div>
                <div class="control-group">
                    <input type="text" class="login-field" value="{{
          request.form.api }}" placeholder="API token" name="api">
                    <label class="login-field-icon fui-lock" for="password"></label></div>
                <input type="submit" value="Sign up" class="btn btn-primary btn-large btn-block">
            </div>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
        </div>
    </div>
</form>
{% endblock %}