{% extends "layout.html" %}
{% block content %}
<script>
    var sync = new EventSource("/api_sync");
</script>
<form action="/signup" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Loading..</h1>
            </div>
        </div>
    </div>
    <div class="login">
        <div class="loader"></div>
    </div>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h3>this may take awhile..</h3>
            </div>
        </div>
    </div>
</form>
{% endblock %}