<html>
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<form action="/login" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="{{
          request.form.username }}" placeholder="Username" name="username">
                    <label class="login-field-icon fui-user" for="username"></label></div>
                <div class="control-group">
                    <input type="password" class="login-field" value="{{
          request.form.password }}" placeholder="password" name="password">
                    <label class="login-field-icon fui-lock" for="password"></label></div>
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
            </div>
        </div>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
    </div>
</form>
<form action="/go_to_signup" method="POST">
    <div class="sign-up">
        <div class="sign-up-screen">
            <div class="login-form">
                <input type="submit" value="Sign up" class="btn btn-primary btn-large btn-block">
            </div>
        </div>
    </div>
</form>

</body>
</html>
